/*
    (c) Ryan Kugel and Tyler LaVecchia 2016
 */

html {
  font-family:'Trebuchet MS',Arial,sans-serif;
}

img {
    display: block;
    margin: 0 auto;
}

a{
    text-align: center;
}

h1{
    text-align: center;
}
a{
    color: blue;
    font-weight: bold;
    padding-left: 2em;
}
#mainSection {
  border: solid red;
  margin-bottom: 1em;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

footer {
    border-color: blue;
    border-style: solid;
    border-bottom: 2px solid blue;
    padding-left: 2em;
    position: relative; 
}

section {
  border: solid red;
  margin-bottom: 1em;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

table {
    padding-left: 2em;
}
h2 {
    padding-left: 2em;
}